div.line {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace, fixed;
    line-height: 1.5;
}

code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace, fixed;
}

